html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  @include rem-baseline;
  overflow-y: scroll;
}

body {
  background: color(background) none;
  color: color(foreground);
  font-family: font(default);
  font-size: em(font-size(default), $rem-baseline);
  line-height: line-height(default) / font-size(default);
  text-size-adjust: none;
  
  @if settings(antialiasing) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
