<button class="c-button c-button--icon js-button">
  <svg class="c-button__icon" width="20" height="20"><use xlink:href="{{ '/assets/images/sprites.svg' | path }}#sprite-{{ icon | default()}}"></use></svg>
  <span class="c-button__label">{{ label }}</span>
</button>
