$settings: () !default;

// Setter
@mixin settings($name, $map, $aliases: false) {
  @if $aliases {
    @if type-of($aliases) == map {
      @each $key, $value in $aliases {
        $map: map-deep-set($map, $key, map-deep-get($map, $value));
      }
    } @else {
      $map: map-deep-set($map, default, map-deep-get($map, $aliases));
    }
  }
  $settings: map-deep-set($settings, $name, $map) !global;
}

// Getter
@function settings($keys...) { 
  @return map-deep-get($settings, $keys...);
}

// Aliases
@mixin setting($name, $map, $aliases: false) { @include settings($name, $map, $aliases); }
@function setting($keys...) { @return settings($keys...); }

@function colors($keys...) { @return settings(colors, $keys...); }
@function color($keys...) { @return settings(colors, $keys...); }

@function font-families($keys...) { @return settings(font-families, $keys...); }
@function font-family($keys...) { @return settings(font-families, $keys...); }
@function font($keys...) { @return settings(font-families, $keys...); }

@function font-weights($keys...) { @return settings(font-weights, $keys...); }
@function font-weight($keys...) { @return settings(font-weights, $keys...); }
@function weight($keys...) { @return settings(font-weights, $keys...); }

@function font-sizes($keys...) { @return settings(font-sizes, $keys...); }
@function font-size($keys...) { @return settings(font-sizes, $keys...); }

@function line-heights($keys...) { @return settings(line-heights, $keys...); }
@function line-height($keys...) { @return settings(line-heights, $keys...); }

@function dimensions($keys...) { @return settings(dimensions, $keys...); }
@function dimension($keys...) { @return settings(dimensions, $keys...); }
@function sizes($keys...) { @return settings(dimensions, $keys...); }
@function size($keys...) { @return settings(dimensions, $keys...); }

@function z-indexes($keys...) { @return settings(z-indexes, $keys...); }
@function z-index($keys...) { @return settings(z-indexes, $keys...); }
@function z($keys...) { @return settings(z-indexes, $keys...); }
