doctype html
html(lang=lang)
  head
    block head
      title #{title}
      link(rel="stylesheet" href="assets/styles/main.css")
      block styles
  body
    block content
    block foot
      script(src="assets/scripts/main.js")
      script(src="assets/scripts/vendor.js")
      block scripts
