@import "settings.json";

// COLORS

@include settings(colors, $colors);


// FONT-FAMILIES

@include settings(font-families, $font-families);


// FONT-SIZES

@include settings(font-sizes, $font-sizes);


// FONT-WEIGHTS

@include settings(font-weights, $font-weights);


// LINE-HEIGHTS

@include settings(line-heights, $line-heights);


// DIMENSIONS

@include settings(dimensions, $dimensions);


// Z-INDEXES

@include settings(z-indexes, $z-indexes);


// BREAKPOINTS (+ MQ)

$mq-breakpoints: $breakpoints;
@include settings(breakpoints, $breakpoints);


// REM

$rem-baseline: 10px;
$rem-fallback: false;
